<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="./template/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <!-- <link href="./template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
 
</head>
<body>
  

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Bienvenidos a Adventure Park</h1>
        <div class="row center">
          <h5 class="header col s12 light">Una empresa creada para llenar de alegría al mundo.</h5>
        </div>
        <div class="row center">
          <a routerLink="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Comprar Plan</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img url='https://th.bing.com/th/id/OIP.bIfNdO9RQOEAZDKsV3BHKwHaE7?w=237&h=180&c=7&r=0&o=5&pid=1.7' alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Adrenalina</h5>

            <p class="light">Todos nuestro parques están dotados con atracciones que harán que tus pulsaciones suban a ritmos que nunca te habías imaginado.</div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Grupos</h5>

            <p class="light">Nada como compartir con la familia y los amigos.Adventure Park te provee de múltiples atracciones que harán que salgas de la rutina mientras haces lo más importante para el ser humano:<span>ESTAR RODEADO DE SUS SERES QUERIDOS</span> .</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Organización</h5>

            <p class="light">Todos nuestros parques están organizados para atender a cualquir tipo de público, brindando la mejor experiencia. Así que si tienes hijos, no te afanes, tenemos zonas que hará aprendan mientras se divierten.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Una alternativa diferente para que disfutes con los que más amas.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contáctanos</h4>
          <p class="left-align light">	
            Teléfono en Medellín:(4) 444-29-75;Línea Nacional gratuita:018000 510 344;WhatsApp: (+57) 313 628 6931;Email:info@AdventurePark.com; Horario Oﬁcina de Reservas: Lunes a viernes de 9:00 a.m. a 4:00 p.m;<span>No abrimos Domingos ni festivos.</span>;Horario Parque:Miércoles a domingo y lunes festivos de 9:00 a.m. a 5:00 p.m; Los lunes (no festivos) y martes se cierra para labores de mantenimiento.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> <span>Rompe la rutina. Reiniciate, reinventate a través de la diversión. Tu eres tu único tesoro.</span>  </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!--   <script src="./template/js/materialize.js"></script>  -->
  <!--<script src="./template/js/init.js"></script> -->
  

  </body>
</html>

