<a routerLink="/administracion/crear-departamento" class="btn">Crear departamento</a>
<table class="table responsive">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Editar
            </th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let p of listadoDepartamentos">
            <td>
                {{p.codigo}}
            </td>
            <td>
                {{p.nombre}}
            </td>

            <td>
                <a routerLink="/administracion/editar-departamento/{{p.id}}" class="btn">Editar departamento</a>
                <br><br>
                <a routerLink="/administracion/eliminar-departamento/{{p.id}}" class="btn">Eliminar departamento</a>
            </td>


        </tr>
    </tbody>

</table>
